**/bin
**/obj
**/out
**/publish

.vs
.vscode
.idea

.git
.gitignore
.gitattributes

TestResults
**/*.user
**/*.suo
**/*.cache
**/*.log

.env
.env.*
secrets.yaml
secret.yaml

README.md
LICENSE

.env.lab4
.env.k8s